---
layout: default
title: Works
description: Embark on a journey through a handpicked selection of projects that embody the essence of passion, simplicity, and creativity.
image: '/images/01.jpg'
---

<div class="container">
  <div class="page-head">
    {% if page.title %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% endif %}
  </div>
</div>

<div class="container projects-page animate">
  <div class="row">
    {% for project in site.projects reversed %}
    <article class="project col col-3 col-d-6 col-t-12">
      <div class="project-content">
        <a href="{{ project.url }}" class="project__image">
          <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
        </a>
        <div class="project__info">
          {% if project.label %}
            <div class="project__label">{{ project.label }}</div>
          {% endif %}
          <h2 class="project__title">
            <a href="{{ project.url }}">{{ project.title }}</a>
          </h2>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>