{% if site.data.settings.blog.enable == true %}
<!-- begin blog -->
<section class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          {% if site.data.settings.blog.blog_title %}
            <h2 class="section__title">{{ site.data.settings.blog.blog_title }}</h2>
          {% endif %}
          {% if site.data.settings.blog.blog_description %}
            <p class="section__description">{{ site.data.settings.blog.blog_description }}</p>
          {% endif %}
        </div>

        <div class="row">
          {% if site.posts.size > 0 %}
            {% for post in site.posts offset:0 limit:3 %}
              {% include article.html %}
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="{{ '/blog' | relative_url }}" class="button button--primary section-button">See all posts</a>
  </div>
</section>
<!-- end blog -->
{% endif %}