/* Buttons */
.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $global-transition;
  color: var(--button-color);
  background: var(--primary-color);

  &:hover {
    color: var(--button-color);
  }

  &--primary {
    color: var(--button-color);
    background-color: var(--button-background-color);

    &:hover {
      background: var(--button-background-hover);
    }
  }

  &--small {
    padding: 20px 24px;
  }

  &--big {
    display: block;
    width: 100%;
  }

  @media (max-width: $desktop) {
    font-size: 22px;
  }

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (max-width: $mobile) {
    padding: 16px 32px;
  }
}